body{
    background:url("https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg") no-repeat;
    background-size:cover;
}

html{
    height:100%;
}

#main{
    width:500px;
    height:500px;
    background-color:rgb(248, 237, 237);
    margin-top:100px;
    margin-left:60%;
    border-radius:10px;
    padding-top:15px;
}

#welcome{
    margin-left:30px;
}

#write{
    width:440px;
    height:300px;
    margin:0 auto;
}

.sty{
    width:80%;
    margin-left:13px;
    height:40px;
    border:1px solid gray;
    border-radius:5px;
    padding-left:10px;
}

.aliL{
    margin-left:15px;
}

.msg{
    width:50%;
}

#btn{
    width:120px;
    height:43px;
    border:1px solid gray;
    border-radius:5px;
    margin-left:10px;
    background-color:white;
}

#btnR{
    width:410px;
    height:50px;
    background-color:green;
    border:1px solid green;
    border-radius:25px;
    margin-left:40px;
    color:white;
    font-size:15px;
    outline:none;
}

#username-validate{
    color:red;
    font-size:12px;
    margin-left:65px;
    height:20px;
}

#phone-validate{
    color:red;
    font-size:12px;
    margin-left:65px;
    height:20px;
}

#pwd-validate{
    color:red;
    font-size:12px;
    margin-left:65px;
    height:20px;
}

#code-validate{
    color:red;
    font-size:12px;
    margin-left:65px;
    height:20px;
}

#tip{
    width:20px;
    height:20px;
    position: absolute;
    margin-top: 12px;
    margin-left: -30px;
}

#jud{
    color:green;
    margin-left:210px;
}